/* CSS classes you can use on your table td to display the relevant tile */
body {
  background-image: url(img/fond.jpg);
  background-size: cover;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  background-color: white;
  box-shadow: 0 0 15px rgba(2,2,2,2.4);
  padding: 15px;
  border-radius : 3px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;;
  text-align:center;
  z-index: 5;
}

.right {
  height: 800px;
  display: flex;
  align-items: center;
}

table#minesweeper tbody td.unopened {
  background-image: url(img/fond-case.png);
  cursor: pointer;
}
table#minesweeper tbody td.empty {
  background-color: #ADCCCC;
}
/* Positioning the Minesweep table and make sure the cells are square */
table#minesweeper{
  margin:auto;
  border-collapse: separate;
}
table#minesweeper tbody td {
  width: 40px;
  height: 40px;
  border: 2px solid #2F4F4F;
  background-size: cover;
  background-color: white;
  color: #2F4F4F;
  text-align: center;
  font-weight: bolder;
  font-size: 23px;
}

table#minesweeper tbody td.unopened:hover {
  background-image: linear-gradient(#66CDAA, #20B2AA);
  box-shadow: -1px 2px 5px 1px #2F4F4F;
}

table#minesweeper tbody td > i {
  color:#800000;
}

table#minesweeper tbody td.mine {
  background-color: #D2B48C;
}

.counter {
  font-size: 40px;
  color: #2F4F4F;
}

.btn-8 {
  border-radius: 5px;
  background-color: #3CB371;
  opacity: 0.7;
  padding: 15px 20px;
  margin: 10px;
  color: white;
  text-decoration: none;
  margin: 0px;
}

.btn-8:hover {
  opacity: 0.8;
  color: white;
  text-decoration: none;
  transition-duration: 1s;
}
.btn-16 {
  border-radius: 5px;
  background-color: #D2691E;
  opacity: 0.7;
  padding: 15px 20px;
  margin: 10px;
  color: white;
  text-decoration: none;
  margin: 0px;
}

.btn-16:hover {
  opacity: 0.8;
  color: white;
  text-decoration: none;
  transition-duration: 1s;
}
.btn-30 {
  border-radius: 5px;
  background-color: #800000;
  opacity: 0.7;
  padding: 15px 20px;
  margin: 10px;
  color: white;
  text-decoration: none;
  margin: 0px;
}

.btn-30:hover {
  opacity: 0.8;
  color: white;
  text-decoration: none;
  transition-duration: 1s;
}

.result {
  text-align: center;
  display: none;
  font-weight: bold;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  color:white;
  box-shadow: -1px 2px 5px 1px #2F4F4F;
}

